<style>
    #ds label {
        display: inline-block;
    }

    #ds li {
        list-style: none;
        padding: 7px;
        margin: 7px;
        background-color: #cccccc;
    }

    #ds ul {
        margin-top: 20px;
    }

    #ds form {
        display: inline-block;
    }
</style>

<div id="ds">
    <h3>Find A Department:</h3>
    <hr>
    <form id='directory-search-form'
          action='{{ baseURL }}/directory'
          method='post'
          encType="multipart/form-data">
        <label for="directory-search-form">Query</label>
        <input type="text"
               size="50"
               name="directory-search-box"
               value="{{ params.query }}"/>
        <label for="d-type-select">Type</label>
        <select name="d-type-select" id="d-type-select">
            {% for type in types %}
                <option value="{{ type }}"
                        {% if type == params.type %} selected {% endif %}>
                    {{ type }}
                </option>
            {% endfor %}
        </select>
        <label for="d-task-select">Task</label>
        <select name="d-task-select" id="d-task-select">
            {% for task in tasks %}
                <option value="{{ task }}"
                        {% if task == params.task %} selected {% endif %}>
                    {{ task }}
                </option>
            {% endfor %}
        </select>
        <label for="d-letter-select">Letter</label>
        <select name="d-letter-select" id="d-letter-select">
            {% for letter in letters %}
                <option value="{{ letter }}"
                        {% if letter == params.letter %} selected {% endif %}>
                    {{ letter }}
                </option>
            {% endfor %}
        </select>

        <input type="hidden"
               name="_csrf"
               value="{{ token }}"/>
        <input type='submit'
               value='Search'/>
    </form>
    <form id='directory-reset-search-form'
          action='{{ baseURL }}/directory-reset'
          method='get'
          encType="multipart/form-data">
        <input type='submit'
               value='Reset'/>
    </form>

    {% if organizations %}
        <ul>
            {% for org in organizations %}
                <li class="col-md-3">
                    <a href="{{ baseURL }}/directory/{{ org.Name|slugify }}">{{ org.Name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ errorMessage }}
    {% endif %}
</div>

