<style>
    #ds-show li {
        list-style: armenian;
    }
</style>
<div id="ds-show">
    {% if org %}
        {{ org }}
        <div class="col-md-12">
            <p><a href="{{ baseURL }}">Home</a> > <a href="{{ baseURL }}/directory">Directory</a> > {{ org.Name }}</p>
           <h3>{{ org.Name }}</h3>
            {# Add parent list #}
        </div>
        <div class="col-md-8">
            <h4>What We Do</h4>
            <p>{{ org.Summary }}</p>
            <div class="col-md-3">Main Phone - {{ org['Phone'] }}</div>
            <div class="col-md-3"><a href="mailto:{{ org['Primary Email'] }}">Email</a></div>
            <div class="col-md-3"><a href="{{ org['Primary Website'] }}">Website</a></div>
            <div class="col-md-3"><a href="{{ org['Staff Listing (URL)'] }}">Staff Listing URL</a></div>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/375" alt="Placeholder Image">
        </div>
    {% else %}
        {{ message }}
    {% endif %}
</div>
